@import "../../../shared/card";

#demo-card-container {
  @include card();

  height: 75%;
  padding: 54px 100px 10px 100px;
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  .controller-container {
    display: flex;
    justify-content: center;

    .svg-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: royalblue;
      cursor: pointer;
      &:hover {
        background-color: rgb(53, 86, 184);
      }
    }
  }
}
