.start-asr-dialog-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .vertical-separator {
    width: 1px;
    background-color: silver;
    margin: 0 3px;
  }

  .separated-card {
    max-width: 200px;

    h1 {
      padding: 5px;
      font-size: 1.2rem;
    }

    p {
      font-size: 1.1rem;
    }

    button {
      margin-top: 20px;
    }

    input {
      display: none;
    }
  }

}