@import "../shared";

@include page("home") {
  height: 100vh;
  margin: 0 auto;
  max-width: 1040px;
  min-width: 256px;
  h1 {
    text-align: left;
    padding: 10px 0;
    font-size: xx-large;
  }
  #controller-container {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    select {
      font-size: 1rem;
      margin: auto 0;
    }

    button {
      height: 36px;
      border: none;
      background-color: #000080;
      color: white;
      border-radius: 5px;
      padding: 8px;
      font-weight: bold;
      font-size: 0.9rem;
      cursor: pointer;

      &:disabled {
        background-color: #4ea7ff;
        cursor: auto;
      }

      input {
        display: none;
      }
    }
  }

  .footer {
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    background: darkgray;
    color: #fff;
  }
}
