.result-segment {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;

  .time-code-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.03rem;
    padding-right: 4px;
    padding-top: 2px;
    div {
      text-align: center;
      white-space: nowrap;
    }
    .start-time-code {
      cursor: pointer;
    }
    .length-code {
      color: rgb(116, 116, 116);
    }
  }

  .status-container {
    padding-right: 8px;

    div {
      height: 1em;
      width: 1em;
      text-align: center;
      font-size: 0.9rem;
      color: white;
    }

    &.r {
      div {
        background-color: rgb(255, 78, 78);
        border: 1.5px rgb(156, 0, 0) solid;
      }
    }

    &.p {
      div {
        background-color: #6161ff;
        border: 1.5px rgb(0, 0, 170) solid;
      }
    }
  }
  .result-container {
    display: flex;
    flex-direction: column;
    .text-container {
      line-height: 1.6rem;
      font-size: 1.5rem;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .post {
      position: relative;
      display: flex;
      flex-direction: row;
      .status-container {
        position: absolute;
        transform: translate(-100%, 0%);
      }
      .underline {
        background-image: linear-gradient(rgb(0, 68, 170), rgb(0, 68, 170));
      }
    }
  }
}
